@model WebApp_06_11_2023.Models.Paciente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomePaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomePaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sobrenomePaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sobrenomePaciente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idPaciente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
